h1{
    font-size: 108px;
    top: 4px;
    line-height: 90px;
    letter-spacing: -.05em;
    text-align: left;
    font-family: HelveticaNeue-Light, Helvetica, Arial;    
    font-weight: bold;
    color:#BFBD97;    
}

h2{
	letter-spacing: -0.02em;
	font-weight: bold;
}

body{
	font-family: 'Lato', sans-serif;
    /* font-family: HelveticaNeue-Light, Helvetica, Arial; */
    margin-left: 18px;
    background-color:#E6E3B3;
    color:#0D0100;
}

p{
	margin-bottom: 18px;
}

a{
    color:#DB0007;
}

img{
    border:18px solid #FFFFFF;
    max-width:450px;
}

#blog{
	color:#9F9E78;
	// color:#C0BE98;

}

#dot{
    color:#DB0007;
}

#date{
    color:#BFBD97;
}
