<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" media="screen" href="/css/compressed/baseline.compress.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/css/site.css">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    </head>
    <body class="page-grid">
        <div id="page" class="layout-grid">
            <header class="width3">
                 <h1> powery<span id="dot">.</span>net </h1>
            </header>
            <article class="width3">
                <section id="stuff" class="column width2 first">
                    {{ content }}
                </section>
                <aside id="other-stuff" class="column width1">
                    <h2>pieces of me</h2>
			<ul>
			    <li><a href="https://github.com/epower">github</a></li>
			    <li><a href="http://ie.linkedin.com/in/eamonnpower">linkedin</a></li>
			    <li>photos</li>
			</ul>

		    <h2> posts </h2>
                        <ul>
                            {% for post in site.posts %}
                                <li> <a href="{{ post.url }}"><strong>{{ post.title }}</strong> <small>{{ post.date | date:"%a %d %b %Y" }}</small></a></li>
                            {% endfor %}
                        </ul>
		    
                </aside>
            </article>
        </div>
    </body>
</html>

